<nav>
    <form action="/new" method="get">
        <div class="header">
            <h1>Book Notes</h1>
            <button type="submit">Add a New Book Review</button>
        </div>
    </form>
</nav>