<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <title>Book Notes</title>
</head>
<body>
    <%- include('partials/header.ejs'); -%>

    <% if (locals.books && books.length !== 0) { %>
        <ul>
            <% for(let book of books) { %>
                <li>
                    <form action="/book/<%= book.id %>" method="get">
                        <div class="bookPreview">
                            <div class="cover">
                                <img src=<%= book.cover %> alt="Book Cover">
                            </div>
                            <div class="metadata">
                                <h1 class="title"><%= book.title %></h1>
                            </div>
                        </div>
                    </form>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <div class="notfound">
            <h1>There are no reiews yet!</h1>
            <button>Click here to add your first book review!</button>
        </div>
    <% } %>
</body>
</html>